<p><a href="index.html">CodingsCrazy</a> 2025 © Designed by mconlon.</p>
<p>
    <a href="https://validator.w3.org/" target="_blank">
    <img src="https://www.w3.org/Icons/valid-html401" alt="Valid HTML">
    </a>
    <a href="https://jigsaw.w3.org/css-validator/" target="_blank">
    <img src="https://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS">
    </a>
    <a href="https://www.w3.org/WAI/WCAG21/quickref/" target="_blank">
    <img src="https://www.w3.org/WAI/wcag21/images/wcag-logo.png" alt="WCAG Guidelines" height="31">
    </a>
</p>