<nav>
    <a href="./">Home</a> |
    <a href="./itis3135/index.html">ITIS3135</a> |
    <a href="https://webpages.charlotte.edu/mconlon3/">Charlotte.edu</a> |
    <a href="https://github.com/mconlon3">GitHub</a> |
    <a href="https://mconlon3.github.io">GitHub.io</a> |
    <a href="https://www.linkedin.com/in/marcus-conlon-76aba8296/">LinkedIn</a>
</nav>
<p>Designed by <a href="marcenterprises.net/index.html">Marc. Enterprises</a> © 2025, <em>Certified in <a href="https://www.freecodecamp.org/certification/mconlon3/responsive-web-design">Responsive Web Design</a></em></p>
<script src="https://lint.page/kit/4d0fe3.js" crossorigin="anonymous"></script>